<form method="post" action="{{ path('e_tweet_delete', {'id': e_tweet.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ e_tweet.id) }}">
    <button class="btn">Delete</button>
</form>
