{% extends 'base.html.twig' %}

{% block title %}Edit ETweet{% endblock %}

{% block body %}
    <h1>Edit ETweet</h1>

    {{ include('e_tweet/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('e_tweet_index') }}">back to list</a>

    {{ include('e_tweet/_delete_form.html.twig') }}
{% endblock %}
