{% extends 'base.html.twig' %}

{% block title %}New ETweet{% endblock %}

{% block body %}
    <div class="container">
    <h1>Create new ETweet</h1>

    {{ include('e_tweet/_form.html.twig') }}

    <a href="{{ path('e_tweet_index') }}">back to list</a>
    </div>
{% endblock %}
